{% extends "base.html" %}
{% block nav-home %}<a href="/">Home</a>{% endblock %}</li>
{% block content %}
<h2>Search</h2>

<form method="get" action=".">
  <table>
  {% for field in form %}
      {% if field.label != "aSearch In" %}
      <p>{{ field }}</p>
      {% endif %}
  {% endfor %}
  <tr>

      <td>&nbsp;</td>
      <td><input type="submit" value="Search"></td>

    </tr>
  </table>

{% if query %}
<h3>Results</h3>
{% for result in page.object_list %}

<p><a href="../{{result.object.get_absolute_url}}/">{{ result.object.title }}</a> by: {{ result.object.writer }} -- {{ result.object.date }}
</p>
{% empty %}
<p>No results found.</p>

{% endfor %}
{% endif %}

</form>
{% endblock %}


                
